.navbar {
  width: 100%;
  padding: 20px 10%;
  background: #0f172a;
  border-bottom: 1px solid #1e293b;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  color: #93c5fd;
  font-size: 22px;
  font-weight: bold;
}
