.rules {
  margin-top: 50px;
  background: #111827;
  padding: 40px;
  border-radius: 12px;
}

.rules h2 {
  color: #fca5a5;
  font-size: 28px;
  margin-bottom: 15px;
}

.rules ul li {
  margin: 8px 0;
  font-size: 16px;
  color: #f1f5f9;
}
